WEATHER_API_KEY=your_openweathermap_api_key
WEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5

GEO_API_URL=https://ipinfo.io/json
GEO_API_FALLBACK_CITY=Moscow
GEO_API_FALLBACK_LAT=55.7558
GEO_API_FALLBACK_LON=37.6173

DB_URL=postgresql://your_username:your_password@localhost:5432/weather_lab_db
DB_USER=your_username
DB_PASSWORD=your_password

ENVIRONMENT=dev
OUTPUT_FILE=weather_report.md